.main {
    width: 100vw;
    height: 100vh;
    background: #000;
    padding: 10px;
}
.div {
    width: 500px;
    min-height: 300px;
    text-align:  center;
    margin: 10px auto;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0 0 10px rgba(2555,20,22);
    border-radius: 3px;
}
h1{
    font-size: 36px;

}
.menu {
    border: 1px solid #fff;
    width: 300px;
    min-height: 150px;
    margin: 10px auto;
    padding: 10px;
}
.out {

    text-align: left;
    padding: 3px;
}
.input, .push {
    padding: 3px;
    border:1px solid rgba(2555,20,22);
}